.on {
    border: 1px solid greenyellow;
    padding: 10px 20px;
    background-color: greenyellow;
}
.on2 {
     border: 1px solid greenyellow;
     padding: 10px 20px;
 }
.off {
    border: 1px solid red;
    padding: 10px 20px;
    background-color: red;
}
.off2 {
     border: 1px solid red;
    padding: 10px 20px;
 }
.body {
    margin-top: 100px;
}